$primary-color: #FF6060;
$secondary-color:#FFFFFF;
$tertiary-color:#F6F6F6;
$darken:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
$default-radius:25px;
$default-spacing-top:45px;
$default-spacing-side:90px;
$default-spacing-mobile:20px;
$footer-height:209px;