@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.kasa-header {
    padding:$default-spacing-top $default-spacing-side 0px $default-spacing-side;
    display:flex;
    align-items:center;
    justify-content:space-between;

    @include mobile-only {
        padding:$default-spacing-mobile $default-spacing-mobile 0px $default-spacing-mobile;
    }

    &__logo {
        width:210px;

        @include mobile-only {
            width:145px;
        }
    }
}