@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.kasa-section {
    opacity: 0.3px;
    display:flex;
    align-items:center;
    justify-content:center;
    height:223px;
    border-radius: $default-radius;

    @include mobile-only {
        height:111px;
        justify-content:flex-start;
        padding:0px $default-spacing-mobile;
    }

    &--accueil {
        background: $darken, url('../../assets/bg_accueil.png') no-repeat;
        background-size: cover;
        background-position: center;
    }

    &--apropos {
        background: $darken, url('../../assets/bg_apropos.png') no-repeat;
        background-size: cover;
        background-position: center;
    }

    h1 {
        font-size: 48px;
        font-weight: 500;
        color: $secondary-color;

        @include mobile-only {
            font-size: 24px;
        }
    }
}