@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.kasa-thumb {
    width: 340px;
    height: 340px;
    border-radius: 10px;
    overflow:hidden;
    position:relative;
    background:black;

    @include mobile-only {
        width: 100%;
        height: 255px;
    }
    
    img {
        width: 100%;
        height:100%;
        object-fit: cover;
        object-position: 50% 50%;
        opacity:0.70;
    }

    h2 {
        position:absolute;
        bottom:10px;
        left:20px;
        right:20px;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        color:$secondary-color;
        text-align: left;
    }
}