@import '../../styles/abstracts/variables';

.kasa-404 {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:$primary-color;

    h2 {
        font-size:250px;
        font-weight:bold;
        margin:50px 0px;
    }

    p {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;

    }

    a {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        margin:50px 0px;
        color:$primary-color;
    }
}