@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.kasa-nav {
    display:flex;
    gap:57px;

    @include mobile-only {
        gap:30px;
    }

    a {
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        color:$primary-color;
        text-decoration:none;

        @include mobile-only {
            font-size: 12px;
            text-transform:uppercase;
        }
        
        &.active {
            text-decoration:underline;
        }
    }
}